#header {
    background-color: rgb(92, 92, 88);
    padding: 70px;
    text-align: center;
    font-size: 35px;
    font-family: "Lucida Console", "Courier New", cursive;
    text-transform: uppercase;
    color:rgb(0, 0, 0);
    border: 2px rgb(15, 15, 15) solid;
    max-width: 60%;    
    min-width: 500px;
}

h2 {
    -webkit-text-stroke: 2px rgb(194, 190, 190);
}

body {
    background-image: url("halfFace.jpg"); 
    background-size: cover;
    background-attachment: fixed;    
    position:fixed;
    /* width: 50%;
    height: 50%;
     */
}  

.left_button {
    text-transform: uppercase;
    font-weight: 900;
    font-family: "Lucida Console", "Courier New", monospace;
    float: left;
    padding: 12px 24px;
    border: 2px rgb(194, 190, 190) solid;
    font-size: 15pt;
    letter-spacing: 2pt;
    color: rgb(8, 8, 8);
    /* margin-top: 20px; */
}
        
.right_button {
    text-transform: uppercase;
    font-weight: 900;
    font-family: "Lucida Console", "Courier New", monospace;
    float: right;
    padding: 12px 24px;
    border: 2px rgb(194, 190, 190) solid;
    font-size: 15pt;
    letter-spacing: 2pt;
    color: rgb(8, 8, 8);
    /* margin-top: 20px; */
}
        
.navWrap a:hover {
    background-color: rgba(221, 221, 221, 0.582);
    color: black;
}